.products-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 60px;
}
