.img {
  width: 400px;
  height: auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.img-section {
  display: 1;
  width: 400px;
}

.product-info {
  display: 1;
  width: 400px;
}
