.product-item {
  flex: 1;
  min-width: 250px;
  max-width: 250px;
  height: 350px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #969796;
  margin: 15px;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f38601;
  border-style: none;
  padding: 7px 20px;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

img {
  width: 150px;
  height: auto;
}
