.product-item {
  flex: 1;
  min-width: 210px;
  max-width: 210px;
  height: 290px;
  border-style: solid;
  border-width: 1.5px;
  border-color: hsl(120, 0%, 59%);
  margin: 15px;
  padding: 30px;
}

.product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f38601;
  border-style: none;
  padding: 7px 22px;
  font-size: 0.7em;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  margin: 20px 0;
}

.product-img {
  height: 160px;
  width: auto;
  margin: 0 0 10px 0;
}

.product-price {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
